@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

iframe {
  border: none;
}
.controls-arrow {
  opacity: 0.25;
  transition: opacity 500ms;
}
.controls-arrow:hover {
  opacity: 1;
}
.controls-arrow {
  color: black;
}
.controls {
  transform: scale(0.75);
}
section {
  height: 100vh;
  width: 100vw;
}
.menubar {
  font-family: 'Press Start 2P';
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  text-align: left;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  background-color: white;
  border-bottom: 0.15rem solid black;
  display: flex;
  gap: 1.5rem;
}
.system6window {
  padding: 2rem 0rem 1.5rem 00.5rem;
  border: 0.15rem solid black;
  background-color: white;
  color: black;
}
.system6window::before {
  content: attr(data-header);
  font-family: 'Press Start 2P';
  font-size: 0.8rem;
  position: absolute;
  top: -1.5rem;
  width: calc(100% + 0.3rem);
  text-align: center;
  left: -0.15rem;
  background-color: white;
  padding: 0.4rem;
  box-sizing: border-box;
  border: 0.15rem solid black;
}
.slide3-diagram {
  position: absolute;
  left: 40%;
  top: 38%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
.slide3-diagram img {
  margin: 0;
}
.note-about-os {
  padding: 2rem 0.5rem;
  width: 35rem;
  position: absolute;
  left: 70%;
  top: 75%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  font-family: monospace;
}
.note-about-os ul {
  margin: 0;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.note-about-os ul li {
  line-height: 120%;
}
.bootprocess {
  color: black;
  padding: 1rem;
}
.bootprocess h1 {
  all: unset;
  font-size: 1.25rem;
  font-weight: bold;
}
.bootprocess p {
  text-align: left;
  margin: 0.25rem;
  font-size: 1rem;
}
.bootstep {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.bootstep .img {
  flex-shrink: 0;
  width: 48px;
  background-size: 48px !important;
}
.step1 .img {
  height: 48px;
  background: url(/images/win95/chip.png) center;
}
.step2 .img {
  height: 32px;
  background: url(/images/win95/drive.png) bottom;
}
.step3 .img {
  height: 48px;
  background: url(/images/win95/computer.png) bottom;
}
.step4 .img {
  height: 48px;
  background: url(/images/win95/lock-with-keys.png) bottom;
}