.taskbar7 {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 3rem;
    border-left: none !important;
    border-radius: 0 !important;
}

.taskbar7.window::before {
    border-radius: 0;
    opacity: 0.6 !important;
    box-shadow: none;
    background: linear-gradient(90deg, #ffffff60, #0000001a, #ffffff33), #2763a8;
}

.taskbar7.window::after {
    border-radius: 0;
}

.taskbar7 .title-bar {
    opacity: 0.25;
    border-radius: 0;
    height: 100%;
}

.taskbar7 .items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.taskbar7 .icons {
    display: flex;
    gap: 1.5rem;
    padding: 0 0.75rem;
}

.taskbar7 .icons img {
    width: 36px;
    height: 36px;
}

.taskbar7 .clock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.taskbar7 .desktopbutton {
    width: 1rem;
    height: 3rem;
    border: 1px solid rgba(0, 0, 0, .7);
    position: relative;
}

.taskbar7 .clock div {
    color: white !important;
}

.taskbar7 .desktopbutton::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    border-radius: 0;
    opacity: 0.6 !important;
    box-shadow: inset 0 0 5px #fffd;
    background: linear-gradient(120deg, #ffffff60, #0000001a, #ffffff33), #2763a8;
}
.win7 .window {
    position: absolute;
    width: max-content;
}
.win7 .window * {
    color: black;
}
.win7 .window h1 {
    all: unset;
    font-size: 2rem;
    font-weight: 600;
}
.ui {
    left: 5%;
    top: 12%;
    max-width: 55vw;
}
.wm {
    left: 40%;
    top: 45%;
    max-width: 55vw;
}
.window-body {
    padding-bottom: 1.5rem !important;
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    gap: 0.5rem;
}
.window ul {
    margin: 0;
    margin-right: 1rem;
}
.window li {
    margin-bottom: 0.5rem;
}